.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
  } 
  
  /* .header-container h1 {
    color: var(--primary-dark);
    font-size: 28px;
  } */

  .search-container .search-input{
    display: flex;
    width: 422px;
    height: 45.039px;
    padding: 11px 356.109px 12.039px 9.891px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20.027px;
    border: 1.252px solid #EEE6F2;
    color: #CDB4DB;
    font-family: "Roboto Flex";
    font-size: 18.504px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
  }
  .title-container .mng-inst{
    color: #765378;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
  }

  .search-button .search-icon{
    margin-left: 200px;
  }
  .action-buttons {
    margin-bottom: 20px;
  }
  
  .add-instructor-btn {
    
    transition: background-color 0.3s;
    border-radius: 63.635px;
    background: #765378;
    display: inline-flex;
    height: 29.924px;
    padding: 13.047px 52.186px;
    justify-content: center;
    align-items: center;
    gap: 6.523px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16.308px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
  }
  
  .add-instructor-btn:hover {
    background-color: var(--primary-dark);
  }
  
  .instructors-table {
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }
  
  .table-header {
    display: flex;
    background-color: #f5f5f5;
    padding: 15px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
  }
  
  .header-col {
    padding: 0 10px;
  }
  
  .instructor-row {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
  }
  
  .instructor-row:last-child {
    border-bottom: none;
  }
  
  .instructor-row:hover {
    background-color: var(--hover-bg);
  }
  
  .instructor-col {
    padding: 0 10px;
  }
  
  .id-col {
    width: 5%;
    text-align: center;
  }
  
  .name-col {
    width: 30%;
  }
  
  .email-col {
    width: 50%;
  }
  
  .actions-col {
    width: 45%;
    text-align: center;
  }
  
  .action-button {
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-dark);
    cursor: pointer;
    padding: 5px;
  }
  
  .action-button:hover {
    color: var(--primary-color);
  }