/* General styles */
.home_courses-right{
  padding: 20px;
  justify-content: right;
  text-align: right;
}
.loading, .error {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.error {
  color: #ff0000;
}

.links_pages {
  background-color: #f8f9fa;
  padding: 15px 0;
  margin-bottom: 20px;
}

.link_home, .link_learning {
  text-align: center;
}

#link_home, #link_learning {
  color: #6c757d;
  text-decoration: none;
  font-weight: 500;
}

#link_home:hover, #link_learning:hover {
  color: #495057;
}

#started_courses {
  margin: 30px 20px;
  color: #343a40;
}

/* Card styles */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  margin-left: 10px;
}

.card:hover {
  transform: translateY(-5px);
}

.card_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  object-fit: cover;
}

.card_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #343a40;
}

.star {
  display: flex;
  gap: 2px;
}

  #chatbot{
    position: absolute;
    top: 350px;
    right: 30px;
    padding-bottom: 50px;
  }