body{

  /* border-top: 2px solid #CDB4DB;
border-bottom: 2px solid #CDB4DB; */
background: #CDB4DB;
}
#question {
  display: flex;
  margin: 15px;

  color: #765378;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.content2 {
  margin: 5px !important;
  flex-shrink: 0;
  border-top: 2px solid #CDB4DB;
border-bottom: 2px solid #CDB4DB;
}

#numofques {
  color: #765378;
  font-family: Roboto;
  font-size: 40px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
  margin: 15px !important;
}

#custom-radio {
  color: #000;
  font-family: "Roboto Flex";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 5px;
  padding: auto;
}

Col.btnn {
  text-align: right !important;
  display: flex;
  width: 131.466px;
  height: 49.837px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9.307px;
/* background: #765378;*/
} 

#txt-btn {
  background: #765378;
  display: flex;
  width: 131.466px;
  height: 49.837px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: right !important;
font-family: "Roboto Flex";
font-size: 18.044px !important;
font-style: normal;
font-weight: 700;
line-height: normal;
}