#question {
  color: #0F1114;
  font-family: "Roboto Flex";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  margin: 15px;
}

.content2 {
  margin: 5px !important;
  /* width: 1156px; */
  height: 453px;
  /* flex-shrink: 0; */
  border-top: 2px solid #1F1F1F;
  border-bottom: 2px solid #1F1F1F;
  background: white !important;
}

#numofques {
  color: #000;
  font-family: "Roboto Flex";
  font-size: 40px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 15px !important;
}

#custom-radio {
  color: #000;
  font-family: "Roboto Flex";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 5px;
  padding: auto;
}

Col.btnn {
  display: flex;
  width: 151.466px;
  height: 49.837px;
  justify-content: center;
  align-items: center;
  text-align: right !important;
  flex-shrink: 0;
  border-radius: 9.307px;
  background: #0057D1;
}

#txt-btn {
  /* display: flex; */
  width: 151.466px;
  height: 49.837px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 25.044px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}