.navv {
  padding-bottom: 35px !important;
}

#link {
  display: flex;
  width: 122px;
  height: 43px;
  padding: 0.943px 0px 9.057px 7.455px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15.546px;
}

.home {
  width: 118.609px;
  flex-shrink: 0;
  color: #765378 !important;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 27.66px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about {
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about:hover {
  color: #765378 !important;
}

.logo-LEARNQUEST {
  display: flex;
  /* width: 253px;
 height: 49.934px; */
  /* flex-direction: column; */
  justify-content: center;
  flex-shrink: 0;

}

.logo-LEARNQUEST:hover {
  transform: scale(1.1);

}

.but1 {
  display: flex;
  width: 151px !important;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  text-decoration: none !important;
}

.svg {
  width: 18px;
  height: 28px;
  stroke-width: 2.92px;
}

#but-reg {
  border-radius: 100px !important;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #FFF;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

#but-reg:hover {
  background-color: #765378;
}

#but-contact {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 21px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  border-radius: 100px !important;
  border: 1px solid #D9C6E3;
  background: #765378;
  text-decoration: none;
}
#but-contact:hover {
  background-color: #D9C6E3;
    color: #765378 !important;
  
}

.content {
  /* width: auto; */
  padding: 55px !important;
  border-radius: 30px;
  background: linear-gradient(74deg, #765378 22.34%, #FFD9E4 96.82%);
}

p.master {
  display: flex;
  width: 782.613px;
  height: 216.857px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

#master {
  color: #FFF;
  font-family: "Roboto Flex";
  font-size: 61.684px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

#start-join {
  color: #0F1114;
  width: 747.171px !important;
  font-family: "Be Vietnam" !important;
  font-size: 17.743px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal;
}

.explore-button {
  background: #FFF !important;
  color: #765378 !important;
  text-align: center;
  font-family: "Roboto";
  font-size: 28.367px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: auto;
  border-radius: 36.594px;
  border-color: #765378 !important;
  margin: 30px 0px;
  display: flex;
  width: 248px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  text-decoration: none !important;
}

.explore-button:hover {
  background-color: #D9C6E3 !important;
}

#img150 {
  width: 45.343px !important;
  height: 45.343px !important;
  flex-shrink: 0;
  border-radius: 22.671px !important;
  border: 1.619px solid #000 !important;
  background: lightgray 50% / cover no-repeat;
}

#rating {
  color: #0F1114;
  font-family: Roboto;
  font-size: 26.614px !important;
  font-style: normal;
  font-weight: 300 !important;
  margin: 21px;
  line-height: normal;
}

#img-big {
  width: 529.145px;
  height: 821px;
  flex-shrink: 0;
  border-radius: 15.065px;
}

.right {
  text-align: right;
  /* display: flex; */
  /* align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f4f8; */
  z-index: 11;
}

.img3 {
  margin-top: 95px !important;
}

.txt-next-img {
  margin-top: 225px !important;
  /* margin-bottom: 25px !important; */
  margin-left: 25px;
}

#your-skills {
  color: #CDB4DB;
  font-family: Roboto !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

#AI {
  color: #765378;
  font-family: Roboto;
  font-size: 36px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  display: flex;
  width: 669.891px;
  height: 97px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

#text1 {
  color: #0F1114;
  font-family: "Be Vietnam";
  font-size: 22.101px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 595px;
  height: 97px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.link-start {
  text-decoration: none !important;
}

#start {
  display: flex;
  width: 231px;
  height: 63.854px;
  padding: 15.024px 50.081px;
  justify-content: center;
  align-items: center;
  gap: 6.26px;
  flex-shrink: 0;
  border-radius: 62.602px !important;
  background: #765378;
  border-color: #765378;
}

#start:hover {
  background-color: #D9C6E3 !important;

  #get {
    color: #765378 !important;
  }
}

#get {
  color: #FFF;
  text-align: center;
  font-family: Roboto !important;
  font-size: 28.325px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  text-decoration: none !important;
}

#text2 {
  margin-top: 35px;
  width: 446.927px !important;
  color: rgba(0, 0, 0, 0.73) !important;
  font-family: "Be Vietnam";
  font-size: 16px !important;
  font-style: normal;
  font-weight: 300 !important;
  line-height: normal;
}

#img-alex {
  width: 32.995px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 16.5px;
  background: lightgray 50% / cover no-repeat;
  margin-right: 15px;
}

.explore {
  margin-top: 100px !important;
  /* width: 100%; */
  height: 937px;
  flex-shrink: 0;
  background: #D9C6E3;
}

.Explore-course {
  display: flex;
  width: 966.505px;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

#Explore-course {
  color: #765378;
  font-family: Roboto;
  font-size: 64px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

#explore-txt2 {
  width: 634.901px;
  height: 94px !important;
}

#explore-txt {
  width: 611.648px;
  height: 141px !important;
  color: #0F1114;
  font-family: "Be Vietnam";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#img-exp {
  width: 350px;
  height: 505px;
  flex-shrink: 0;
  border-radius: 32.538px;
  background: lightgray 50% / cover no-repeat;
}

.content-contact {
  display: flex;
  width: 1440px;
  height: 1003px;
  padding: 59px 266px 124px 266px;
  /* justify-content: center; */
  /* align-items: center; */
  flex-shrink: 0;
}

#contact {
  color: #765378;
  text-align: center;
  font-family: Roboto;
  font-size: 64px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

#txt-contact {
  color: #0F1114;
  text-align: center;
  font-family: "Be Vietnam";
  font-size: 26px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

#txt-arrow {
  display: inline-flex;
  padding: 0px 2px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #765378;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 8px;
}

.arrow {
  width: 15px !important;
  height: 15px !important;
  fill: #765378;
  stroke-width: 2px !important;
  stroke: #765378;
}

#txt-logo {
  color: #000;
  justify-self: auto;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 28px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  padding-right: auto;
}

#need-help {
  display: flex;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #939292;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.container {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f4f8;
  z-index: 1; */
}