

.settings-page2 {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1009px;
    /* background: #CDB4DB; */
    background: #EEE6F2;
  }
  
  /* Header */
  .settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #EEE6F2;
    border-bottom: 1px solid #9F9595;
  }
  
  .signup-title2 {

    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #765378;
    text-decoration: none;
  }
  .settings-logo {
    width: 77.113px;
    height: 79.843px;
    flex-shrink: 0;
  }
  
  .settings-search {
    display: flex;
    align-items: center;
  }
  
  .settings-search #search {
    color: #9F9595;
    font-family: "Roboto Flex";
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    outline: none;
    display: flex;
    /* width: 300px;
    height: 63.285px; */
    /* padding: 15px 504.06px 18.285px 13.896px; */
    align-items: center;
    flex-shrink: 0;
    border-radius: 28.141px;
    border: 1.759px solid #E4ECFA;
    
  }
  
  .settings-search #search-buttom {

    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    fill: #765378;
    width: 49.121px;
    height: 49.121px;
    flex-shrink: 0;
  }
  
  .settings-icons #icon {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
  }
  .settings-icons #circle {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    width: 88px;
    height: 62px;
    flex-shrink: 0;
  }
  
  /* Navigation Tabs */
  .settings-tabs2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
  }
/*   
  .settings-tabs #active {
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    border-bottom: 2px solid transparent;
    

  } */
  /* .settings-tabs #security {
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

    border-bottom: 2px solid transparent;
    color: #007bff;
    border-bottom: 2px solid #007bff;
   
  } */
  
  /* .settings-tabs button.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
  } */

  
  .settings-tabs2 #active2 {
    /* padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #765378;
    border-bottom: 2px solid #765378; */

    display: flex;
    width: 119px;
    height: 49px;
    padding: 15.675px 52.249px;
    justify-content: center;
    align-items: center;
    gap: 6.531px;
    flex-shrink: 0;
    border:none;
    background: none;
    color: #CDB4DB;
    margin: 30px;
    cursor: pointer;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    cursor: pointer;
    text-decoration: none;

  }
  .settings-tabs2 #active2:hover {
   
    background-color: #EEE6F2;
    color: #765378;
    width: 119px;
    height: 49px;
    font-weight: bold;
    border-bottom: 6px solid #765378;

  }
 /* Security Form */
 .security-content {
    flex: 1;
    padding: 20px 40px;
    width: 772px;
    height: 419px;
    flex-shrink: 0;
    border: 1px solid #E4ECFA;
    background: #FFF;
    margin: 0 auto;
    /* text-align: center; */
  }
  
  .security-form {
    max-width: 400px;
    margin: 40px auto;
    text-align: left;
  }
  
  .security-form #password {
    color: #0F1114;
  font-family: "Roboto Flex";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
    margin-bottom: 20px;
  }
  
  .security-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 60px;

    color: #0F1114;
    text-align: left;
    font-family: "Roboto Flex";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .security-form input {
    width: 393px;
    height: 31px;
    flex-shrink: 0;
    border: 1.085px solid #BFBFBF;
    background: #FAF8F8;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .change-password-button {
    width: 100%;
    padding: 10px;
   
    
    
    cursor: pointer;

    
    
    color: #fff;
    border: 1px solid #0257CD;
    background: #FFF;
    cursor: pointer;
    display: flex;
    width: 393px;
    height: 41px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 10px;
    /* margin-left: 25px; */

    /*delete*/
    color: #765378;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  
  /* Footer */
  .settings-footer2 {
    background-color: #765378;
    color: #FFFFFF;
    text-align: center;
    width: 1440px;
    height: 250px;
    flex-shrink: 0;
    padding-top: 50px;
    padding-bottom: 10px
  }
  
  .footer-links #link {
    color: #FFF;
    margin: 0px 50px;
    text-decoration: none;
  }
  .social-icons {
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 15px;
    padding-right: 30px;
    /* float: left; */
    display: flex;
    gap: 10px;
  }
 
  .social-icons i:hover {
    color: #007bff;
  }
  .settings-footer2 #copy{
    color: #939292;
    font-family: "Roboto Flex";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-bottom: 30px; */
    margin-right: 40px;
    text-align: end;
    /* padding-bottom: 40px; */
  }