body{
  
    background: #FFF;

}

  h2 {
    margin-bottom: 1.5rem;
    color: #000;
    text-align: center;
    font-family: "Charis SIL";
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 277px;
  }
  
.img-fluid {
    width: 648.22px;
    height: 1041.859px;
    flex-shrink: 0;
    margin-right: 50px;
    margin-left: 0%;
  }
  
  .inputfeild {
    
    margin-bottom: 0.5rem;
    width: 280px;
    height: 57.231px;
    flex-shrink: 0;
    border-radius: 20.811px;
    border: 1.301px solid rgba(191, 189, 189, 0.35);
    background: #FAF8F8;
    box-shadow: 3.2px 2.9px 5.203px 0px rgba(0, 0, 0, 0.25);
  }
  
.sign-up-page #button-col{
    margin-top: 1rem;
    border-radius: 16px;
    background: #0057D1;
    border-style: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 288px;
    height: 72px;
   
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
.sign-up-page #label-col {
    display: block;
    margin-bottom: 0.25rem;
    color: #000;
    font-family: Roboto;
    font-size: 15.608px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 150.881px;
  }
  .sign-up-page #terms{
    font-weight: bold;
    
  }
  .sign-up-page #agree{
    border: 1px solid #000;
    background: #FFF;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

  }
#create{
    color: #000;
text-align: center;
font-family: "Charis SIL";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 277px;
}
.sign-up-page .styled-hr {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.styled-hr::before,
.styled-hr::after {
    content: "";
    flex-grow: 14px;
    width: 100%;
    height: 1px;
    background: #939292;
    margin: 0 6px;
    
    
}
.signup-with-facebook{
    color: #939292;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
    width: 300px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid #CCC;
background: #FFF;
box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: 20px;
margin-bottom: 20px;

}
.signup-with-google{
  margin-top: 20px;
margin-bottom: 20px;
    color: #939292;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 300px;
height: 61px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #CCC;
background: #FFF;
box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.sign-up-page #have-account{
    color: #363535;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;

}
.sign-up-page .signup-with-facebook #facebook-img{
  margin-right: 20px;
}
.sign-up-page .signup-with-google #google-img{
  margin-right: 20px;
}
 #linkk{
  text-decoration-line: none;

}