.parent {
  display: flex;
  width: 100%;
  height: 100vh;
  /* min-width: 1200px !important;
  min-height: 720px !important; */
  justify-content: space-between;
  align-items: center;
  background: #FFF;
}

.left-side {
  /* align-self: stretch !important; */
  width: 737px !important;
  height: 1173.698px !important;
  flex-shrink: 0;
  background: url(../../Assets/login.png) lightgray 50% / cover no-repeat;
  box-shadow: 9.49px 8.43px 10.54px 0px rgba(0, 0, 0, 0.25);
}

.right-side {
  display: flex;
  min-width: 656px;
  padding: 48px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  flex: 1 0 0;
  margin-left: 120px;
  align-self: stretch;
  background: #FFF;
}

.head {
  width: 295px !important;
  height: 98px;
  margin-top: 221px;
  margin-bottom: 66px;
}

h2 {
  font-family: "Charis SIL";
  font-size: 50px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 477px;
  text-align: left
}

em {
  color: #5667D2 !important;

}

p {
  color: #000;
  font-family: "Charis SIL";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.email {
  /* margin-top: 66px;
  margin-bottom: 110px; */
}

label {
  width: 150.881px;
  height: 37.555px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input {
  width: 462px;
  height: 58.309px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #9F9595;
  background: #FAF8F8;
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.password {
  /* margin-top: 44px;
  margin-bottom: 119px; */
}

.f-pass {
  align-self: stretch !important;

  color: var(--BG-Black, #000) !important;
  text-align: right !important;

  /* Body/Bold */
  font-family: 'Bricolage Grotesque', sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 700;
  line-height: 160%;
  /* 22.4px */
  letter-spacing: 0.07px !important;
  text-decoration-line: underline !important;

}
.forget{
  margin-top: 12px !important;
  margin-left: 35px !important;
}

.ico {
  margin-right: 7px !important;
}

.btn {
  /* margin-top: 52px;
  margin-bottom: 24px; */
}

button {
  display: flex;
  width: 462px;
  height: 72px;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: #FFF;
  border-radius: 16px !important;
  background: #0057D1;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.SU-div {
  width: 350px;
  height: 44px;
  flex-shrink: 0;
}

.SU-sentence {
  color: #363535;
  text-align: center !important;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* a {
  color: #F45050 !important;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: none !important;
} */
.SU{
  color: #F45050 !important;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: none !important;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .parent {
    display: flex;
    width: 100%;
    height: 100vh;
    min-width: 360px;
    max-width: 768px;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
  }
}