.modal-overlay {
    gap: 20px;
    position: fixed;
    top: 0;
    left: 20%;
    right: 70%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* align-items: center; */
    width: 480px;
    height: 714px;
    border-radius: 20px;
    background: #FFF;

  }
  
  #header-details{
    color: #765378;
    text-align: start;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  #txt-profile{
    color: #000;
    font-family: "Roboto Flex";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 276px;
    height: 33px;
    flex-shrink: 0;
  }

  .profile-img2{
    border-radius: 100.016px;
    background: url("../../Assets/profile.png") lightgray 50% / cover no-repeat;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-left: 40px;
  }
  .two-btns{
    display: flex;
    gap: 30px;
    margin-left: 10px;

  }
  .two-btns #change-btn{
    display: flex;
    width: 85.132px;
    height: 32.272px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 11.685px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #765378;
  }
  .two-btns #remove-btn{
    display: flex;
    width: 85.132px;
    height: 26.793px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 0.728px solid #CDB4DB;
    color: #765378;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 11.685px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #profile-label{
    width: 68.121px;
    height: 27.116px;
    flex-shrink: 0;
    color: #0A033C;
    font-family: Roboto;
    font-size: 14.245px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.709px; /* 187.5% */
  }
 #profile-input{
    border-radius: 8.903px;
    border: 0.89px solid #DEDDE4;
    background: #FFF;
    width: 330px;
    height: 44.706px;
    flex-shrink: 0;
 }
 .btns-save-close{
    gap: 20px;
    margin-left: 10px;
 }
#save-btn{
    display: flex;
    width: 93px;
    height: 35.255px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #765378;
    margin-top: 20px;
}


  #close-btn {
    margin-top: 20px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    width: 85.132px;
    height: 35px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 0.728px solid #CDB4DB;
    color: #765378;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 11.685px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  