
.settings-page {
    display: flex;
    flex-direction: column;
    width: 100%x;
    height: 1009px;
    background: #F5F5F5;
  }
  
  /* Header */
  .settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #F5F5F5;
    border-bottom: 1px solid #9F9595;
  }
  
  .settings-logo {
    width: 77.113px;
    height: 79.843px;
    flex-shrink: 0;
  }
  
  .settings-search {
    display: flex;
    align-items: center;
  }
  
  .settings-search #search {
    color: #9F9595;
    font-family: "Roboto Flex";
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    outline: none;
    display: flex;
    /* width: 300px;
    height: 63.285px; */
    /* padding: 15px 504.06px 18.285px 13.896px; */
    align-items: center;
    flex-shrink: 0;
    border-radius: 28.141px;
    border: 1.759px solid #E4ECFA;
    
  }
  
  .settings-search #search-buttom {

    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    fill: #0057D1;
    width: 49.121px;
    height: 49.121px;
    flex-shrink: 0;
  }
  
  .settings-icons #icon {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
  }
  .settings-icons #circle {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    width: 88px;
    height: 62px;
    flex-shrink: 0;
  }
  


  /* Profile Section */
  /* General Reset */
  .settings-page body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Profile Page Container */
  .profile-page {
    display: flex;
    padding: 20px;
  }
  
  /* Left Panel */
  .left-panel {
    /* flex: 1; */
    margin-right: 20px;
  }
  
  .profile-details {
    border: 3px solid #EEE6F2;
    background: #F7F9FA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 323px;
    height: 542px;
    flex-shrink: 0;
    /* margin-left: 50px;
    margin-right: 50px; */
  }
 .profile-details .profile-pin #Pin{
    position: absolute;
    top: 200px;
    right: 350px;
    cursor: pointer;
  }
  .profile-details #personal {
    margin-bottom: 20px;
    color: #000;
    margin-bottom: 40px;
    padding-left: 10px;
    font-family: "Roboto Flex";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
  }
  
  .profile-image {
    border-radius: 100.016px;
    background: url("../../Assets/profile.png") lightgray 50% / cover no-repeat;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-bottom: 10px;
    margin-left: 40px;
   }
  
  .profile-details p {
    font-size: 14px;
    color: #777;
    text-align: start;
    padding-left: 20px;
  }
  .profile-details #name-alex{
    color: rgba(0, 0, 0, 0.73);
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  /* Right Panel */
  .right-panel {
    flex: 2;
  }
  
  .main-course,
  .favorite-courses {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .main-course h3,
  .favorite-courses h3 {
    margin-bottom: 15px;
    
    color: #000;
    font-family: "Roboto Flex";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  /* Course Cards */
  .course-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 988px;
    height: 245px;
    flex-shrink: 0;
  }
  
  .course-image {
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
  
  .course-details h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .skills {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .skill-tag {
    /* display: inline-block; */
    background: #e0e0e0;
    border-radius: 5px;
    
    font-size: 15px;

    display: inline-block;
    width: 80.154px;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    border-radius: 4.399px;
    background: #E9EEF7;
    padding: 1px 8px;
    margin-right: 8px;
  }
  
  /* Favorite Courses Grid */
  .courses-grid {
    display: flex;
    gap: 15px;
  }
  
  .favorite-courses .course-card {
    border-bottom: none;
    width: 150px;
    flex-direction: column;
    text-align: center;
    

    color: #0F1729;
    font-family: "Roboto Flex";
    font-size: 13.828px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  
  /* Footer */
  .settings-footer2 {
    background-color: #765378;
    color: #FFFFFF;
    text-align: center;
    width: 1440px;
    height: 250px;
    flex-shrink: 0;
    padding-top: 50px;
    padding-bottom: 10px
  }
  
  .footer-links #link {
    color: #FFF;
    margin: 0px 50px;
    text-decoration: none;
  }
  .social-icons {
    font-size: 20px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 15px;
    padding-right: 30px;
    /* float: left; */
    display: flex;
    gap: 10px;
  }
 
  .social-icons i:hover {
    color: #007bff;
  }
  .settings-footer2 #copy{
    color: #939292;
    font-family: "Roboto Flex";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-bottom: 30px; */
    margin-right: 40px;
    text-align: end;
    /* padding-bottom: 40px; */
  }