.quiz_name{
  display: flex;
width: 645px;
height: 164px;
flex-direction: column;
justify-content: center !important;
flex-shrink: 0;
}
.nameofquiz{
  color: #765378;
font-family: Roboto;
font-size: 36px !important;
font-style: normal;
font-weight: 500 !important;
line-height: normal;
}