.content-rate {
  width: 100% !important;
  height: auto !important;
  border-radius: 24px;
  border: 1px solid #CDB4DB;
  background: #CDB4DB !important;
}
.linkk-pages{
  justify-content: center !important;
}

.link_course {
  display: flex;
  width: 113px !important;
  height: 51px !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 6px solid #765378;
}

#link_course {
  display: flex;
  width: 113px !important;
  height: 51px !important;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #765378;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.link_Instructor {
  display: flex;
  /* width: 224px;
  height: 65px; */
  padding: 18px 61px 19px 61px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#link_Instructor {
  color: #765378;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.rate-course {
  color: #0F1114;
  font-family: Roboto;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 30px;
  /* 125% */
}

#add-comment {
  color: #0A033C;
  font-family: Roboto !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 30px;
  /* 187.5% */
}

.comment {
  width: 720px !important;
  height: 95px !important;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #CDB4DB;
  background: #FFF;
}
.done{
  justify-content: end !important;
}
button.btn-done {
  display: flex;
  width: 166px !important;
  height: 50px !important;
  padding: 24px 80px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px !important;
  border-color: #CDB4DB;
  background: #765378 !important;
}
#btn-done{
  color: #FFF !important;
text-align: center;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
  text-decoration: none;
}